<h2>Message</h2>

<form [formGroup]="form">

    <mat-form-field class="full-width">
        <mat-label>Enter message (optional)</mat-label>
        <textarea formControlName="message" matInput placeholder="Enter message (optional)"></textarea>
    </mat-form-field>

    <div>
        {{ length }} / 500
    </div>

    <div class="buttons">
        <button class="backBtn" matButton="filled" type="button" (click)="back()">
            Back
        </button>

        <button matButton="filled" type="button" (click)="submit()">
            Submit
        </button>
    </div>

</form>