<h2>Contact list</h2>


<div *ngIf="store.contacts().length === 0">
    <h3>Contact list empty. Add new contact!</h3>
</div>

    <div class="list" *ngFor="let contact of store.contacts()">
        <div>
            <div>
                <strong>{{ contact.name }}</strong>
            </div>

            <div>
                {{ contact.email }}
            </div>

            <small>
                {{ contact.createdAt | date:'short' }}
            </small>
        </div>



        <button mat-button [routerLink]="['/contacts', contact.id]">
            Details
        </button>

    </div>